# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode

### Client

# dependencies
Client/node_modules
Client/package-lock.json

# production
Client/build

# misc
Client/.env

### Web Socket

# dependencies
WebSocket/node_modules
WebSocket/package-lock.json

WebSocket/.env